@model IEnumerable<BicycleApp_MVC.WebApp.Models.Bicycle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@
    <a asp-action="Add" class="btn btn-primary">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var bicycle in Model)
        {
            <tr>
                <td>@bicycle.Id</td>
                <td>@bicycle.Name</td>
                <td>@bicycle.Category</td>
                <td>@bicycle.Price</td>
                <td>
                    <a asp-action="Details" asp-route-id="@bicycle.Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@bicycle.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@bicycle.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>

    @* <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody> *@


</table>
